.item {
  display: flex;
  justify-content: space-between;
  width: 90vw;
}

.item-title {
  width: 25vw;
  overflow-wrap: break-word;
}

.item-description {
  width: 35vw;
  overflow-wrap: break-word;
}

.row-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.done {
  text-decoration: line-through;
}
