<div class="item">
  <div class="item-title">
    <div>
      Title:
    </div>
    <div [class.done]="done">
      {{ value.title }}
    </div>
  </div>

  <div class="item-description">
    <div>
      Description:
    </div>
    <div [class.done]="done">
      {{ value.description }}
    </div>
  </div>

  <div class="row-button">
    <button nbButton hero status="danger" (click)="removeItem(index)">
      Delete
    </button>
  </div>

  <div class="row-button">
    <nb-toggle (click)="toggleStatus()"></nb-toggle>
  </div>
</div>
