<nb-card>
  <nb-card-body class="example-items-col">
    <input
      type="text"
      nbInput
      fullWidth
      fieldSize="small"
      maxLength="30"
      placeholder="Title:(30 Char Limit)"
      [(ngModel)]="title"
      (keyUp.enter)="addToList(title, description)"
    />
    <textarea
      nbInput
      fullWidth
      placeholder="Textarea"
      maxLength="150"
      placeholder="Description:(150 Char Limit)"
      [(ngModel)]="description"
      (keyUp.enter)="addToList(title, description)"
    ></textarea>
  </nb-card-body>
  <div class="add-button">
    <button
      nbButton
      hero
      status="success"
      (click)="addToList(title, description)"
    >
      Add
    </button>
  </div>
</nb-card>

<nb-card size="medium">
  <nb-card-header class="list-header">
    List
  </nb-card-header>
  <nb-list>
    <nb-list-item *ngFor="let item of list; let i = index">
      <todo-item [value]="item" [list]="list" [index]="i"> </todo-item>
    </nb-list-item>
  </nb-list>
</nb-card>
